In [1]:
#Random forest and DeepLearning
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder 
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf
from sqlalchemy import create_engine
import numpy as np

In [2]:
# The cleaned data is loaded into postgres database. It is also formatted in the format required for ML during transformation process.
# We are trying random forest classifier as the data will be divided into smaller sets and prediction could be near to accuracy
# We are also adding deep learning to get more neural network predition
# Based on the line identified, the output variable will be predicted for the input vairable
# Once the complete dataset is loaded and the accuracy is identified, we will pick the best approch. This should be sometime in next session

In [3]:
#Pull data from busiensses table from postgres
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost/Yelp')

In [4]:
from sqlalchemy.orm import Session
session = Session(engine)

In [5]:
reviewsDF = pd.read_sql('select count(stars) review_count, stars,city,state,postal_code,category from reviews r, businesses b where b.business_id = r.business_id and length(postal_code)>0  group by stars,city,state,postal_code,category order by postal_code',engine)
reviewsDF.head(n=20)

,review_count,stars,city,state,postal_code,category
0,1,3,Phoenix,AZ,85001,American
1,1,3,Phoenix,AZ,85001,Italian
2,1,4,Phoenix,AZ,85001,American
3,3,4,Phoenix,AZ,85001,Italian
4,7,5,Phoenix,AZ,85001,American
5,4,5,Phoenix,AZ,85001,Food Stands
6,8,5,Phoenix,AZ,85001,Italian
7,13,5,Phoenix,AZ,85001,Mexican
8,8,5,Phoenix,AZ,85001,Spanish
9,467,1,Phoenix,AZ,85003,American
10,54,1,Phoenix,AZ,85003,"Bars,Nightlife,Lounges,Restaurants,Cocktail Ba..."
11,11,1,Phoenix,AZ,85003,"Breakfast & Brunch,Coffee & Tea,Food,Restaurants"
12,5,1,Phoenix,AZ,85003,"Breakfast & Brunch,Food,Cafes,Coffee & Tea,Res..."
13,6,1,Phoenix,AZ,85003,"Breakfast & Brunch,Restaurants,Food,Coffee & Tea"
14,7,1,Phoenix,AZ,85003,"Breakfast & Brunch,Restaurants,Sandwiches,Delis"
15,87,1,Phoenix,AZ,85003,Chinese
16,2,1,Phoenix,AZ,85003,"Coffee & Tea,Playgrounds,Breakfast & Brunch,Ve..."
17,7,1,Phoenix,AZ,85003,"Delis,Breakfast & Brunch,Coffee & Tea,Restaura..."
18,2,1,Phoenix,AZ,85003,Food Stands
19,6,1,Phoenix,AZ,85003,Hawaiian

In [6]:
temp = reviewsDF

In [7]:
reviewsDF = temp

In [8]:
reviewsDF=reviewsDF.drop(columns=['city','state'])

In [9]:
categoryCounts=reviewsDF.category.value_counts()
categoryCounts

American                                                                   245
Mexican                                                                    221
Italian                                                                    207
Chinese                                                                    196
Japanese                                                                   133
                                                                          ...
Hair Salons,Barbers,Caribbean,Beauty & Spas,Restaurants,Dominican            1
Coffee & Tea,Salad,Restaurants,Sandwiches,Food                               1
Gluten-Free,Food,Bakeries,Desserts,Restaurants                               1
Hot Dogs,Shaved Ice,Ice Cream & Frozen Yogurt,Restaurants,Food,Desserts      1
Nightlife,Coffee & Tea,Cafeteria,Food,Restaurants,Coffee Roasteries          1
Name: category, Length: 508, dtype: int64

In [11]:
replace_type=list(categoryCounts[categoryCounts<50].index)

In [12]:
for application in replace_type:
    reviewsDF.category =  reviewsDF.category.replace(application,"Others")
reviewsDF.head()

   review_count  stars postal_code  category
0             1      3       85001  American
1             1      3       85001   Italian
2             1      4       85001  American
3             3      4       85001   Italian
4             7      5       85001  American

In [13]:
# Generate our categorical variable list
reviewCat = reviewsDF.dtypes[reviewsDF.dtypes == "object"].index.tolist()
reviewsDF[reviewCat].nunique()

postal_code    64
category       16
dtype: int64

In [14]:
predictInputDF = pd.DataFrame(reviewsDF.groupby(['stars','postal_code','category'])['review_count'].sum()).reset_index()

In [15]:
reviewsDF=predictInputDF

In [16]:
predictInputDF.to_sql(name='reviewDF_table', con=engine, if_exists='replace' ,index=False)

In [17]:
reviewsDF.category.value_counts()

Others                            248
American                          245
Mexican                           221
Italian                           207
Chinese                           196
Japanese                          133
Mediterranean                     131
Thai                               90
SeaFood                            90
Vietnamese                         81
Restaurants,Sandwiches             76
Indian                             72
Restaurants                        67
Hawaiian                           65
Sandwiches,Restaurants             55
Restaurants,Breakfast & Brunch     50
Name: category, dtype: int64

In [18]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)
# Fit and transform the OneHotEncoder using the categorical variable list
encodeDF = pd.DataFrame(enc.fit_transform(reviewsDF[reviewCat]))
encodeDFCat = encodeDF
# Add the encoded variable names to the DataFrame
encodeDF.columns = enc.get_feature_names(reviewCat)

In [19]:
# Merge one-hot encoded features and drop the originals
reviewsDF = reviewsDF.merge(encodeDF,left_index=True, right_index=True)
reviewsDF = reviewsDF.drop(reviewCat,1)
reviewsDF.head()

,stars,review_count,postal_code_85001,postal_code_85003,postal_code_85004,postal_code_85005,postal_code_85006,postal_code_85007,postal_code_85008,postal_code_85009,...,category_Mediterranean,category_Mexican,category_Others,category_Restaurants,"category_Restaurants,Breakfast & Brunch","category_Restaurants,Sandwiches","category_Sandwiches,Restaurants",category_SeaFood,category_Thai,category_Vietnamese
0,1,467,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,87,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,6,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,97,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,94,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
y = reviewsDF.stars
X = reviewsDF.drop(columns=['stars'])
XInput =reviewsDF
X

,review_count,postal_code_85001,postal_code_85003,postal_code_85004,postal_code_85005,postal_code_85006,postal_code_85007,postal_code_85008,postal_code_85009,postal_code_85012,...,category_Mediterranean,category_Mexican,category_Others,category_Restaurants,"category_Restaurants,Breakfast & Brunch","category_Restaurants,Sandwiches","category_Sandwiches,Restaurants",category_SeaFood,category_Thai,category_Vietnamese
0,467,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,87,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,6,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,97,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,94,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2023,27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2024,133,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2025,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2026,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
predictInputDF['review_count']=0
predictInputDF['stars']=0
predictInputDF=predictInputDF.drop_duplicates()
predictInputDF

      stars postal_code     category  review_count
0         0       85003     American             0
1         0       85003      Chinese             0
2         0       85003     Hawaiian             0
3         0       85003      Italian             0
4         0       85003     Japanese             0
...     ...         ...          ...           ...
1614      0       85001       Others             0
1725      0       85016  Restaurants             0
1935      0       85048  Restaurants             0
1978      0       85064     American             0
2007      0       85224       Others             0

[434 rows x 4 columns]

In [22]:
XInput['review_count']=0
XInput=XInput.drop(columns=['stars'])
XInput=XInput.drop_duplicates()
XInput

,review_count,postal_code_85001,postal_code_85003,postal_code_85004,postal_code_85005,postal_code_85006,postal_code_85007,postal_code_85008,postal_code_85009,postal_code_85012,...,category_Mediterranean,category_Mexican,category_Others,category_Restaurants,"category_Restaurants,Breakfast & Brunch","category_Restaurants,Sandwiches","category_Sandwiches,Restaurants",category_SeaFood,category_Thai,category_Vietnamese
0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1614,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1725,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1935,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1978,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2007,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)
# Create a StandardScaler instance
scaler = StandardScaler()
# Fit the StandardScaler
X_scaler = scaler.fit(X_train)
X

,review_count,postal_code_85001,postal_code_85003,postal_code_85004,postal_code_85005,postal_code_85006,postal_code_85007,postal_code_85008,postal_code_85009,postal_code_85012,...,category_Mediterranean,category_Mexican,category_Others,category_Restaurants,"category_Restaurants,Breakfast & Brunch","category_Restaurants,Sandwiches","category_Sandwiches,Restaurants",category_SeaFood,category_Thai,category_Vietnamese
0,467,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,87,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,6,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,97,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,94,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2023,27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2024,133,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2025,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2026,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
X_test

,review_count,postal_code_85001,postal_code_85003,postal_code_85004,postal_code_85005,postal_code_85006,postal_code_85007,postal_code_85008,postal_code_85009,postal_code_85012,...,category_Mediterranean,category_Mexican,category_Others,category_Restaurants,"category_Restaurants,Breakfast & Brunch","category_Restaurants,Sandwiches","category_Sandwiches,Restaurants",category_SeaFood,category_Thai,category_Vietnamese
1189,15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
777,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1213,319,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
460,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
162,140,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558,102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
368,56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1516,166,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
639,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
678,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
XInput_scaled = X_scaler.transform(XInput)

In [26]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=30)
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)
# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)

In [27]:
y_pred

array([4, 1, 3, 3, 2, 2, 3, 2, 3, 3, 2, 1, 2, 2, 5, 2, 5, 2, 4, 4, 2, 1,
       5, 5, 1, 5, 1, 2, 3, 1, 2, 2, 4, 4, 3, 5, 3, 3, 2, 3, 1, 1, 4, 1,
       2, 3, 5, 4, 5, 5, 2, 1, 3, 1, 4, 3, 4, 5, 4, 4, 3, 4, 2, 4, 2, 5,
       2, 4, 1, 1, 4, 1, 3, 3, 3, 2, 4, 2, 5, 1, 3, 2, 3, 2, 2, 2, 3, 1,
       4, 4, 1, 4, 3, 1, 3, 3, 5, 4, 4, 1, 3, 3, 4, 5, 5, 3, 4, 3, 3, 4,
       5, 2, 4, 4, 5, 4, 2, 5, 1, 4, 1, 1, 1, 1, 2, 1, 5, 3, 5, 5, 5, 3,
       3, 2, 3, 4, 4, 4, 3, 2, 4, 5, 5, 1, 5, 2, 4, 4, 3, 3, 2, 2, 3, 5,
       5, 4, 5, 4, 4, 4, 3, 4, 4, 2, 4, 3, 1, 1, 2, 3, 2, 4, 2, 4, 3, 4,
       3, 5, 2, 4, 2, 4, 2, 5, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 2, 3, 4, 2,
       2, 5, 1, 2, 3, 3, 3, 3, 3, 4, 5, 1, 3, 2, 3, 2, 5, 1, 5, 1, 2, 3,
       3, 3, 3, 4, 3, 4, 5, 4, 1, 3, 5, 2, 5, 3, 1, 3, 1, 1, 2, 3, 1, 4,
       2, 3, 5, 3, 2, 1, 5, 5, 2, 3, 5, 5, 5, 5, 1, 2, 1, 2, 3, 5, 4, 2,
       4, 4, 3, 2, 5, 1, 4, 1, 5, 1, 2, 3, 2, 1, 5, 4, 1, 3, 4, 1, 5, 1,
       1, 1, 2, 4, 1, 2, 4, 4, 5, 1, 4, 2, 5, 2, 4, 4, 3, 4, 4, 5, 2, 3,
       1, 1, 1, 1, 1, 1, 4, 1, 5, 2, 1, 2, 1, 5, 2, 5, 2, 1, 4, 5, 2, 4,
       3, 1, 4, 3, 3, 3, 5, 1, 2, 1, 3, 3, 5, 4, 3, 4, 5, 3, 4, 1, 3, 3,
       5, 1, 5, 5, 4, 1, 5, 5, 4, 5, 4, 1, 1, 1, 3, 4, 2, 4, 5, 2, 4, 2,
       1, 4, 1, 4, 5, 1, 3, 1, 5, 5, 4, 1, 1, 4, 2, 4, 5, 2, 1, 1, 2, 2,
       3, 5, 1, 5, 4, 2, 2, 2, 3, 2, 5, 5, 2, 3, 3, 2, 5, 3, 5, 1, 2, 2,
       4, 2, 5, 3, 5, 3, 1, 3, 3, 5, 2, 3, 5, 4, 1, 4, 3, 2, 3, 2, 1, 3,
       5, 3, 4, 3, 1, 2, 4, 3, 1, 2, 1, 5, 4, 1, 5, 2, 4, 1, 5, 4, 4, 5,
       2, 3, 2, 2, 2, 2, 2, 1, 5, 1, 4, 3, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1,
       5, 4, 5, 4, 1, 4, 5, 1, 1, 3, 3, 5, 3, 4, 3, 1, 5, 4, 3, 3, 3, 3,
       3], dtype=int64)

In [28]:
y_pred_output = rf_model.predict(XInput_scaled)

In [29]:
predictInputDF['prediction'] = pd.DataFrame(y_pred_output)

In [30]:
predictInputDF

      stars postal_code     category  review_count  prediction
0         0       85003     American             0         2.0
1         0       85003      Chinese             0         2.0
2         0       85003     Hawaiian             0         2.0
3         0       85003      Italian             0         2.0
4         0       85003     Japanese             0         2.0
...     ...         ...          ...           ...         ...
1614      0       85001       Others             0         NaN
1725      0       85016  Restaurants             0         NaN
1935      0       85048  Restaurants             0         NaN
1978      0       85064     American             0         NaN
2007      0       85224       Others             0         NaN

[434 rows x 5 columns]

In [31]:
#Import data into postgres
predictInputDF.to_sql(name='output_table', con=engine, if_exists='replace' ,index=False)